body {
    padding: 10px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.disc {
    color: #DCB391;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-top: 15px;
    padding: 60px;
}

.album {
    width: 25%;
    padding: 10px;
    text-align: center;
    background-color: #061e1d;
    box-shadow: 0 4px 8px;
    border-radius: 8px;
    transition: 1s;
}

.cover { 
    width: 100%;
    border-radius: 8px;
    
}



.album:hover{
    transform: scale(1.1);
    z-index: 2;
}






.album h3 {
    margin-top: 8px;
    font-size: 18px;
}

.ano {
    color: #78664e ;
    font-size: 14px;
}